    .main {
        text-align: center !important;
        vertical-align: center;
    }

    .main h1 {
        font-weight: bold;
    }

  .container-grafico {
    margin-top: 30px;
    text-align: center !important;
    max-height: 400px;
  }

  #grafico {
    display: inline !important;
  }

  .container-label {
    margin-top: 30px;
  }

  .container-clock {
    font-size: 32px;
    font-weight: bold;
    color: red;
    margin-top: 20px;
  }