<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="author" content="Nome Cognome" />
	<title>Forma e senso</title>
	<style type="text/css">
		html{
			height:100%;
		}
		body{
			margin: 0;
			padding-top: 5em;
			padding-bottom: 10em;
			background-color: rgb(235,235,235);
			display: grid;
			width: 100%;
			grid-template-columns: 1fr;
			grid-row-gap: 3em;
			justify-items: center;
		}

	</style>
</head>
<body>
	<img src="img/immagine_1.png">
	<img src="img/immagine_2.png">
	<img src="img/immagine_3.png">
</body>
</html>